.banner-carousel {
	.slide {
		height: 738px;
		background-size: 100%;
		background-position: 50% 10%;
		background-repeat: no-repeat;
		@media screen and (max-width: 1600px){
			height: 638px;
			}
		@include media('<widescreen') {
	            height: 490px;
	        }
	    @include media('<tablet') {
	            height: 390px;
	        }
	    @include media('<phone') {
	            height: 291px;
	            background-size: cover;
	            &.main-slide {
	           	background-position: 43% 50%;
	            background-size: 155%;
	        }
	    }
	}
	.slide-title {
		position: absolute;
		width: 100%;
		top: 62%;
		left: 0;
		.container {
			padding-left: 170px;
			@media screen and (max-width: 1600px){
				padding-left: 250px;
			}
			@media screen and (max-width: 1250px){
				padding-left: 180px;
			}
			@include media('<widescreen') {
	            padding-left: 212px;
	        }
	         @include media('<phone') {
	            padding-left: 20px;
	            line-height: 1;
	        }
		}
		strong {
			display: inline-block;
			width: 100%;
			font-weight: 700;
			font-size: 24px;
			color: $white;
			@media screen and (max-width: 1600px){
				font-size: 20px;
			}
			@include media('<widescreen') {
	            font-size: 18px;
	        }
	        @include media('<phone') {
	            font-size: 12px;
	            line-height: 1;
	        }
		}
	}
	.owl-nav {
		max-width: 272px;
		height: 30px;
		width: 100%;
		position: absolute;
		top: 88.5%;
		left: 50%;
		transform: translateX(-50%);
		@include media('<phone') {
				top: 80.5%;
	            max-width: 156px;
	            height: 20px;
	        }
		.owl-next {
			@include animate (opacity, .3s)
			position: absolute;
			width: 25px;
			height: 33px;
			right: 0;
			left: auto;
			font-size: 0;
			padding: 10px;
			@include media('<desktop') {
           		width: 20px;
				height: 28px;
    		}
    		@include media('<tablet') {
           		width: 14px;
				height: 19px;
    		}
			&:after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				content: '';
				background-image: url(../images/owl-nav-arrow.svg);
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
			&:hover {
				opacity: 0.6;
			}
		}
		.owl-prev {
			@extend .owl-next; 
			transform: rotate(180deg);
			left: 0;
			right: auto;
		}
	}
	.owl-dots {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		max-width: 100px;
		width: 100%;
		top: 88.5%;
		left: 50%;
		transform: translateX(-50%);
		@include media('<phone') {
			top: 80.5%;
			height: 20px;
           	max-width: 56px;
    	}
		.owl-dot {
			position: relative;
			width: 18px;
			height: 18px;
			background: transparent;
			border: 1px solid $white;
			border-radius: 50%;
			@include media('<phone') {
           		width: 10px;
				height: 10px;
    		}
			&:after {
				@include animate (opacity, .3s);
				content: "";
				opacity: 0;
				position: absolute;
				width: 12px;
				height: 12px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: $white;
				border-radius: 50%;
				@include media('<phone') {
           		width: 6px;
				height: 6px;
    			}
			}
			&.active {
				&:after {
					opacity: 1;
				}
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}
	}
}