.banner {
	height: 519px;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	margin-bottom: 104px;
	background-repeat: no-repeat;
	@include media('<tablet') {
		height: 419px;
		margin-bottom: 80px;
    }
    @include media('<tablet') {
		height: 320px;
    }
    @include media('<phone') {
		height: 275px;
		margin-bottom: 67px;
    }
	.caption-title {
		position: absolute;
		bottom: -54px;
		left: 50%;
		transform: translateX(-50%);
		min-width: 675px;
		padding: 26px 43px;
		background-color: $white;
		box-shadow: 0px 43px 54px 0px rgba(0, 0, 0, 0.25);;
		z-index: 3;
		@media screen and (max-width: 1600px){
			padding: 26px 33px;
		}
		@include media('<widescreen') {
			padding: 20px 22px;
			min-width: 555px;
			bottom: -30px;
			}
		@include media('<desktop') {
			padding: 15px 18px;
			bottom: -20px;
			min-width: 555px;
			}
		@include media('<tablet') {
			min-width: 395px;
			bottom: -40px;
			}
		@include media('<phone') {
			min-width: 275px;
			bottom: -53px;
			}
		h1 {
			display: inline-block;
			width: 100%;
			font-size: 40px;
			text-align: center;
			color: $gold;
			@media screen and (max-width: 1600px){
				font-size: 32px;
			}
			@include media('<widescreen') {
			font-size: 28px;
			}
			@include media('<desktop') {
			font-size: 23px;
			}
		}
		.thin {
			font-weight: 300;
			@include media('<phone') {
				display: inline-block;
				width: 100%;
				text-align: center;
			}
		.bold {
			font-weight: 600;
			@include media('<phone') {
				display: inline-block;
				width: 100%;
				text-align: center;
			}
			}
		}
	}
}

.breadcrumbs {
@extend %listreset;
	li {
		display: inline-block;
		margin-right: 10px;
		position: relative;
		color: $white;
		font-size: 16px;
		text-shadow: 0px 0px 4.5px rgba(0, 0, 0, 0.6);
		@include media('<tablet') {
			font-size: 15px;
		}
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&:after {
			content: "-";
			position: absolute;
			width: 3px;
			height: 1px;
			right: -7px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
