.banner {
	height: 685px;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	margin-bottom: 54px;
	.caption-title {
		position: absolute;
		bottom: -54px;
		left: 50%;
		transform: translateX(-50%);
		width: 675px;
		padding: 26px 0;
		background-color: $white;
		box-shadow: 0px -100px 200px -20px $gray-light;
		z-index: 3;
		h1 {
			display: inline-block;
			width: 100%;
			font-size: 40px;
			text-align: center;
			color: $gold;
		}
		.thin {
			font-weight: 300;
		.bold {
			font-weight: 600;
			}
		}
	}
}