.container {
    @extend %clearfix;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    @include media('<widescreen') {
	    max-width: 1000px;
	}
}

.wrapper {
    overflow: hidden;
}