.container {
    @extend %clearfix;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: hidden;
}

.button-red {
    @include animate (color background-color, .3s) display: block;
    padding: 16.5px 4px;
    min-width: 276px;
    font-size: 20px;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    background-color: $red;
    border-top: 2px solid $red;
    border-left: 2px solid $red;
    border-right: 2px solid $red;
    border-bottom: 7px solid #b5050f;
    text-align: center;
    @include media('<widescreen') {
        padding: 12px 28px;
    }
    @include media('<desktop') {
        font-size: 16px;
    }
    @include media('<tablet') {
        padding: 12px 20px;
        font-size: 16px;
    }
    &:hover {
        background-color: $white;
        color: $red;
    }
}