.heading-decoration {
    position: relative;
    display: inline-block;
    min-width: 264px;
    color: $white;
    @include media('<desktop') {
        font-size: 24px;
    }
    @include media('<tablet') {
        font-size: 18px;
        min-width: 230px;
    }
    .text {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: block;
        padding: 12px 114px 18px 15px;
        @include media('<desktop') {
            padding-right: 90px;
        }
        @include media('<tablet') {
            padding: 7px 70px 9px 11px;
        }
        &:after {
            content: '';
            position: absolute;
            left: 88px;
            right: 176px;
            bottom: 0;
            top: 3.9%;
            background-image: url('../images/heading-decor-center.png');
            background-size: 1px 100%;
            background-repeat: repeat-x;
            z-index: -1;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 88px;
        display: inline-block;
        background-image: url('../images/heading-decor-left.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1;
    }
    &:after {
        content: '';
        position: absolute;

        right: 0;
        top: -26%;
        bottom: 0;
        width: 176px;

        display: inline-block;
        background-image: url('../images/heading-decor-right.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1;
        @include media('<tablet') {

            top: -25%;
        }
    }
}