.home-page {
	h2 {
		font-size: 48px;
		font-weight: 300;
		@include media('<widescreen') {
            font-size: 40px;
	    }
	    @include media('<desktop') {
            font-size: 32px;
	    }
	    @include media('<tablet') {
            font-size: 24px;
	    }
	    @include media('<phone') {
            font-size: 30px;
	    }
	}
}


.ornament-bg {
	background: url(../images/ornament.png) -5px 0;
	background-size: 3.5%;
	background-color: #fff5eb;
	padding: 39px 0 82px 0;
	border-top: 25px solid #fff5eb;
	@include media('<widescreen') {
            padding: 20px 0 50px 0;
	    }
	@include media('<desktop') {
            background-size: 5%;
	    }
	@include media('<phone') {
            background-size: 15%;
	    }
	.container {
		padding: 0;
	}
	.content-wrapper {
		padding: 58px 58px 75px 84px;
		border: 1px solid $gold;
		position: relative;
		@include media('<widescreen') {
            padding: 48px 48px 65px 64px;
	    }
	    @include media('<desktop') {
           padding: 35px 20px 50px 20px;
	    }
	    @include media('<phone') {
           padding: 35px 0 50px 0;
           border-left: 0;
           border-right: 0;
	    }
		.section-title, .btn-holder {
			position: absolute;
			background-color: #fff5eb;
			left: 50%;
			transform: translateX(-50%); 
		}
		.section-title {
			padding: 0 22px;
			line-height: 100px;
			top: -60px;
			@include media('<desktop') {
	           line-height: 1.2;
	           top: -30px;
		    }
		    @include media('<phone') {
	           padding: 0 ;
	           width: 85%;
	           top: -22px;
	           text-align: center;
		    }
		}
		.btn-holder {
			padding: 22px;
			bottom: -56px;
			@include media('<desktop') {
	           padding: 6px 22px;
	           bottom: -30px;
		    }
		    @include media('<phone') {
			    width: 84%;
		        padding: 6px 23px;
		        bottom: -34px;
		    }
			.button {
				@include animate (color background-color, .3s)
				display: block;
				padding: 16.5px 44px;
				font-size: 20px;
				font-weight: 600;
				color: $white;
				text-decoration: none;
				background-color: $red;
				border-top: 2px solid $red;
				border-left: 2px solid $red;
				border-right: 2px solid $red;
				border-bottom: 7px solid #b5050f;
				text-align: center;
				@include media('<desktop') {
		           padding: 12px 28px;
		           font-size: 16px;
		    	}
				&:hover {
					background-color: $white;
					color: $red;
				}
			}
		}
	}

	.img-text-holder {
		display: flex;
		box-shadow: 0px 0px 10px $gray-light;
		@include media('<tablet') {
	    	flex-wrap: wrap;
		}
		img {
			display: block;
			max-width: 546px;
			height: auto;
			object-fit: cover;
			@include media('<widescreen') {
            	max-width: 55%;
	    	}
	    	@include media('<tablet') {
	    		max-width: 100%;
	    		width: 100%;
			}
			@include media('<phone') {
	    		height: 249px;
			}
		}
		.text-side {
			padding: 35px 45px 15px 33px;
			background-color: $white;
			position: relative;
			@include media('<desktop') {
	           padding: 15px 25px 25px 15px;
		    }
		    @include media('<tablet') {
	    		width: 100%;
			}
			@include media('<tablet') {
	    		padding: 15px 25px 40px 15px;
			}
			h6 {
				font-weight: 700;
				margin-bottom: 0;
				line-height: 1.1;
				@include media('<tablet') {
	    			text-align: center;
				}
			}
			span {
				font-size: 15px;
				font-style: italic;
				@include media('<tablet') {
		    		display: inline-block;
		    		width: 100%;
		    		text-align: center;
				}
			}
			.divider {
				height: 1px;
				width: 70%;
				background-color: #999999;
				margin: 4px 0 29px 0;
				@include media('<tablet') {
		    		width: 100%;
				}
				@include media('<tablet') {
		    		margin-bottom: 16px;
				}
			}
			p {
				color: #999;
				line-height: 1.2;
				@include media('<phone') {
		    		display: none;
				}
				&:first-of-type {
					margin-bottom: 0;
				}
			}
			.mobile-p {
				display: none;
				@include media('<phone') {
		    		display: block;
				}
			}
			.bottom-r-link {
				padding: 15px;
				position: absolute;
				right: 0;
				bottom: 0;
				line-height: 1;
				@include media('<phone') {
		    		padding: 10px 10px 25px 10px;
				}
			}
		}
	}
}

.brands {
	padding: 65px 0 90px 0;
	.container {
		padding: 0;
	}
	h2 {
		text-align: center;
		margin-bottom: 48px;
	}
	.carousel-holder {
	padding: 20px 100px 52px;
	box-shadow: 0px 0px 12px $gray-light;
	@include media('<tablet') {
		padding: 20px 60px 32px;
	}
	@include media('<tablet') {
		padding: 20px 30px 32px;
	}
		.brands-carousel {
			.brands-slide {
				width: 240px;
				margin: 0 auto;
				@include media('<widescreen') {
		           width: 190px;
		    	}
		    	@include media('<desktop') {
		           width: 130px;
		    	}
		    	@include media('<tablet') {
		           width: 190px;
		    	}
		    	@include media('<phone') {
		           width: 100px;
		    	}
			}
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			.owl-nav {
				display: block;
				width: 100%;
				height: 33px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				.owl-next {
					display: block;
					position: absolute;
					width: 25px;
					height: 33px;
					right: -65px;
					left: auto;
					font-size: 0;
					background: url(../images/owl-nav-arrow-brown.svg);
					@include media('<desktop') {
		           		width: 20px;
						height: 28px;
		    		}
		    		@include media('<tablet') {
		           		width: 14px;
						height: 19px;
						right: -35px;
		    		}
		    		@include media('<phone') {
						right: -18px;
		    		}
				}
				.owl-prev {
					@extend .owl-next;
					left: -60px;
					right: auto;
					transform: rotate(180deg);
					@include media('<tablet') {
		           		left: -30px;
		    		}
		    		@include media('<phone') {
						left: -18px;
		    		}
				}
			}
		}
	}
}


.image-bg {
	padding: 20px 0 67px 0;
	background: url(../images/bottom-img-bg.svg) #f4f4f4;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 42%;
	@include media('<phone') {
		background-size: 200%;
	    background-position: -280px -190px;
	}
	.container {
		padding: 0;
	}
	.section-title {
		text-align: center;
		margin-bottom: 20px;
		@include media('<phone') {
			width: 80%;
			margin: 0 auto;
			line-height: 1;
			margin-bottom: 20px;
		}
	}
	p {
		display: block;
		margin: 0 auto;
		width: 85%;
		text-align: center;
		font-size: 23px;
		font-weight: 500;
		margin-bottom: 50px;
		@include media('<desktop') {
       		font-size: 18px;
		}
		@include media('<phone') {
       		width: 90%;
		}
	}
	.pictures-holder {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px 23px 53px 32px;
		background-color: $white;
		@include media('<phone') {
       		flex-wrap: wrap;
       		padding: 23px 20px;
		}
		.picture-holder {
			width: 12.5%;
			max-height: 164px;
			@include media('<phone') {
       		width: 43%;
       		&.picture-3 {
				order: 4;
       			}
       		&.picture-4 {
				order: 3;
       			}
       		&.picture-5 {
				order: 6;
       			}
       		&.picture-6 {
				order: 5;
       			}
       		&.picture-7 {
				order: 8;
       			}
       		&.picture-8 {
				order: 7;
       			}
			}
			img {
				display: block;
				margin: 0 auto;
			}

		}
	}
}


.marked-red {
	color: $red;
}
.marked-gold {
	color: $gold;
}

.marked-middle-gray {
	color: #585857;
}

.bold {
	font-weight: 600;
	color: inherit;
}