.notre-savoir-page {
	strong {
		display: inline-block;
		text-align: center;
		font-size: 26px;
		font-weight: 500;
		line-height: 1.2;
		font-style: italic;
	}
}

.text-content {
	margin-bottom: 37px;
	.heading-decoration {
		margin-bottom: 15px;
	}
	.text-wrapper {
		p {
		line-height: 1.2;	
		color: $gray-light;
			&:first-of-type {
				margin-bottom: 0;
			}
			&:nth-of-type(2) {
				margin-bottom: 30px;
			}

		}	
	}
	.illustration-block {
		max-width: 956px;
		margin: 0 auto;
		padding: 18px 89px 42px 112px;
		box-shadow: 2px 2px 6px $gray;
		margin-bottom: 35px;
		.illstr-holder{
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;
		}
		.illstr {
			display: flex;
			align-items: flex-end;
			width: 225px;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			&:first-child {
				width: 132px;
			}
			&:nth-child(2) {
				img {
				position: relative;
				right: 30px;
				}
			}
			&:last-child {
				width: 205px;
				justify-content: flex-end;
				img {
					position: relative;
					right: 42px;
				}
			}
		}
	}
}

.text-content-2 {
	margin-bottom: 45px;
	.heading-decoration {
		margin-bottom: 30px;
	}
	p {
		line-height: 1.2;
		text-align: center;
		&:nth-of-type(2) {
			margin-bottom: 0;
		}
		&:nth-of-type(3) {
			margin-bottom: 45px;
		}

	}
	.pictures-row {
		display: flex;
		max-width: 422px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 58px;
	}
	.row-element {
		width: 104px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		&:first-child {
			width: 139px;
		}
		&:nth-child(2) {
			position: relative;
			right: 12px;
		}
		&:last-child {
			width: 72px;
		}

	}
	strong {
		display: block;
		width: 82%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.bold {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.scheme-block {
	margin-bottom: 31px;
	.heading-decoration {
		margin-bottom: 20px;
	}
	.scheme-holder {
		margin-bottom: 44px;
	}
	.single-text {
		text-align: right;
		margin-bottom: 30px;
	}
}

.fluid-text-image {
	margin-bottom: 50px;
	.heading-decoration {
		margin-bottom: 30px;
	}
}

.w50-wrapper {
	display: flex;
	flex-wrap: wrap;
	.w50-block {
		display: flex;
		justify-content: flex-end;
		width: 50%;
		min-height: 375px;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		&:nth-child(2){
			justify-content: flex-start;
		} 
	}
	.w50-container {
		max-width: 640px;
		ul {
			padding: 20px 0 0 7px;
			margin-bottom: 31px;
			li {
				font-weight: 500;
				font-size: 20px;
				line-height: 1.2;
			}
		}
		img {
			display: block;
			width: 51%;
			height: auto;
			margin-left: 19%;
			margin-bottom: 40px;
		}
		p {
			line-height: 1.2;
			&:first-of-type{
				margin-bottom: 0;
			}
		}
		.bold {
			text-transform: uppercase;
		}
		.text-holder {
			width: 84%;
			padding-top: 130px;
			margin: 0 auto;
			strong {
				top: -20px;
			}
		}
	}
}

.marked-gold {
	color: $gold;
}

.unmarked-list {
	@extend %listreset;
	padding: 0;
}