#header {
    color: $white;
    a {
        color: inherit;
        text-decoration: none;
    }
    .header-top {
        @extend %clearfix;
        font-size: 15px;
        background-color: $black1;
        font-weight: 600;
        padding: 9px 0;
        nav {
            float: right;
            @include media('>1500px') {

                margin-right: -32px;
            }
            a {
                margin: 0 24px;
                display: inline-block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: -32px;
                    width: 6px;
                    height: 2px;
                    margin-top: -1px;
                    background-color: $white;
                }
                &:last-of-type {
                    margin-right: 0;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    .header-bottom {
        font-size: 18px;
        background-color: $gray;
    }
    .bottom-holder {

        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
            @include media('>1500px') {
                margin-right: -54px;
            }
            display: flex;
            align-items: stretch;
            justify-content: stretch;

            font-size: 18px;
            @include media('<1500px') {
                font-size: 14px;
            }
            a {
                @include animate(background-color);
                padding: 45px 22px 40px;
                display: inline-block;
                position: relative;
                margin-right: 1px;
                background-color: transparent;
                font-weight: 700;
                line-height: 1.2;
                display: flex;
                align-items: center;
                text-align: center;
                @include media('<widescreen') {
                    padding: 20px 5px;
                    font-size: 14px;
                }
                br {
                    @include media('<widescreen') {
                        display: none;
                    }
                }
                &:first-child,
                &:last-child {
                    flex-shrink: 0;
                     @include media('<widescreen') {
                  flex-shrink:1;
                    }
                }
                &:hover {
                    background-color: $black;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    top: 50%;
                    left: 100%;
                    background-color: $gold;
                    height: 50px;
                    transform: translateY(-50%);

                }
                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}

.logo {
    display: inline-block;
    width: 189px;
    padding:0 5px 0 0;
    @include media('<widescreen') {
        width: 100px;
    }
    img {
        width: 100%;
        height: auto;
    }
}